<form novalidate th:action="@{/user/process-contact}" method="post" th:object="${contact}"
    enctype="multipart/form-data">
    <!-- Name -->
    <div class="input-group  mb-3 ">
        <div class="input-group-prepend">
            <div class="input-group-text mr-2 ">
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <input type="text" class="form-control " id="name" name="name"
            th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" aria-describedby="emailHelp"
            placeholder="Enter Name here" required />
        <div th:each=" e : ${#fields.errors('name')}" th:text="${e}" class="invalid-feedback">
        </div>
    </div>
    <!-- nickname -->
    <div class="input-group mb-3  ">
        <div class="input-group-prepend">
            <div class="input-group-text mr-2 ">
                <i class="fa fa-user-alt"></i>
            </div>
        </div>
        <input type="text" class="form-control " id="nickname" name="nickname" aria-describedby="emailHelp"
            placeholder="Enter nickname here" required />
    </div>
    <!-- Email -->
    <div class="input-group mb-3  ">
        <div class="input-group-prepend">
            <div class="input-group-text mr-2 ">
                @
            </div>
        </div>
        <input type="email" class="form-control " id="email" name="email" aria-describedby="emailHelp"
            placeholder="Enter Email here" required />
    </div>
    <!-- work -->
    <div class="input-group mb-3  ">
        <div class="input-group-prepend">
            <div class="input-group-text mr-2 ">
                <i class="fa fa-briefcase"></i>
            </div>
        </div>
        <input type="text" class="form-control " id="work" name="work" aria-describedby="emailHelp"
            placeholder="Enter Work here" required />
    </div>
    <!-- phone -->
    <div class="input-group mb-3  ">
        <div class="input-group-prepend">
            <div class="input-group-text mr-2 ">
                <i class="fa fa-phone"></i>
            </div>
        </div>
        <input type="text" class="form-control " id="phone" name="phone"
            th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}" aria-describedby="emailHelp"
            placeholder="Enter phone here" required />
        <div th:each=" e : ${#fields.errors('phone')}" th:text="${e}" class="invalid-feedback">
        </div>
    </div>

    <!-- description -->
    <div class="input-group mb-3  ">
        <textarea class="form-control " id="description" name="description" cols="30" rows="3"
            aria-describedby="emailHelp" placeholder="Enter description here" required></textarea>
    </div>
    <!-- contact image -->
    <div class="custom-file mb-3 ">
        <input type="file" name="profileImage" id="image">
    </div>
    <div class=" ">
        <button type="submit" class=" btn mybtn btn-primary mr-3">Save</button>
        <button type="reset" class=" btn mybtn btn-warning">Reset</button>
    </div>
</form>

<section>
    <div class="card card-body ml-2 mb-2 mr-2">
        <h1 class="text-center ">All Contact</h1>
        <div class="container-fluid mt-1  ">
            <div class="row">
                <div class="col-md-10 offset-1 ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each=" c : ${contacts}">
                                <th scope="row" th:text="${'SCM2024' + c.cid}"></th>
                                <td th:text="${c.name}"></td>
                                <!-- <td th:text="${c.nickname}"></td> -->
                                <td th:text="${c.email}"></td>
                                <td th:text="${c.phone}"></td>
                                <td>
                                    <button class=" btn btn-danger"> Delete </button>
                                </td>
                                <td>
                                    <button class=" btn btn-warning"> Update </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <!-- pagination part -->

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li 
                            th:if="${currentPage != 0}" 
                            class="page-item" >
                                <a class="page-link" 
                                th:href="@{'/user/view-contact/'+ ${currentPage-1}}"
                                href="#">Previous</a>
                            </li>

                            <li th:classappend="${currentPage == i-1 ? 'active' : ''}" 
                            th:each=" i : ${#numbers.sequence(1,totalPages)}"  class="page-item">
                                <a class="page-link" 
                                th:text="${i}" 
                                th:href="@{'/user/view-contact/'+ ${i-1}}">
                                </a>
                            </li>

                            <li th:if="${currentPage+1 != totalPages}" class="page-item">
                                <a class="page-link" 
                                th:href="@{'/user/view-contact/'+ ${currentPage+1}}"
                                href="">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>