<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/user_base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>home page</title>
</head>

<body>
	<section>
		<div class="card card-body mb-2 mr-2">
			<div class="container-fluid mt-1  ">
				<div class="row">
					<div class="col-md-10 offset-1 ">
						<h1>Welcome, You are a normal user</h1>
						<h1>this is your private dashbord</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>